selenium==4.1.2
pytest==7.0.1
pytest-html==3.1.1
allure-pytest==2.9.45
allure-python-commons==2.9.45
appdirs==1.4.4
ddt==1.4.4
cryptography==36.0.1
openpyxl==3.0.9
pytest-xdist==2.5.0
webdriver-manager==3.5.3
webdrivermanager==0.10.0
softest==1.2.0.0
setuptools==60.9.3
requests==2.27.1
pytest-metadata==1.11.0
